apiVersion: v1
clusters:
- cluster:
    server: https://D36319BACCE0D9FE65792081F94E2592.yl4.us-west-2.eks.amazonaws.com
    certificate-authority-data: {{ ca }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: eks-admin
  name: aws_ekstestvalidations
current-context: aws_ekstestvalidations
kind: Config
preferences: {}
users:
- name: eks-admin
  user:
    token: {{ token }}